# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Data
data/raw/
data/interim/
data/processed/*.xlsx
data/processed/*.csv

# Models


# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml